.hero {
  height: 100vh;
}
.herowrapper {
  display: flex;
  justify-content: space-between;
  background-color: beige;
  width: 100%;
  height: 600px;
  position: relative;
}
.imagecontainer01 {
  position: relative;
  left: 0px;
  width: 400px;
  height: 600px;
  top: 0px;
}
.ourcollection {
  display: block;
  font-size: 40px;
  font-weight: 400;
}
.herowrapper p {
  font-size: 30px;
  padding: 20px;
  font-weight: 300;
  font-style: normal;
  display: inline-block;
  position: absolute;
  top: 150px;
  left: 460px;
}
.imagecontainer01 img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.imagecontainer02 {
  position: relative;
  right: 0px;
  width: 400px;
  height: 600px;
  top: 0px;
}
.imagecontainer02 img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.herowrapper button {
  display: inline;
  position: absolute;
  left: 630px;
  top: 300px;
  font-size: 18px;
  height: 50px;
  width: 130px;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: navajowhite;
}

