.footer {
  margin: 480px 150px 0px 150px;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.left {
  display: flex;
  align-items: center;
}
.logo {
  color: #2879fe;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 40px;
}

.copyright {
  margin-left: 10px;
  font-size: 14px;
  color: gray;
  margin-bottom: 40px;
}
