.footer{
  /*background-color: aqua;*/
  padding: 20px;
  
}
.fashionstore {
  color: Black;
  font-weight:400 ;
  font-size: 33px;
  letter-spacing: 2px;
  cursor: pointer;
}

.copyright {
  margin-left: 10px;
  font-size: 18px;
  color: gray;
  margin-bottom: 20px;
}
