.header{
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
    align-items: center;
    height: 60px;
    padding: 0px 20px;
}
.header_logo h1{
    color: white;
    font-weight: 200;
}
.header_buttons button{
    margin-left: 20px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    min-width: 100px;
    cursor: pointer;
}